html, body{
  padding: 0;
  margin: 0;
}

.grid-bereiche{
  width: 100%;
  min-width: 290px;
  height: 100%;
  display: grid;
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    "header"
    "content"
}
.header {
  width: 100%;
  grid-area: header;
  background-color: #1a1819;
}

.content-main{
  grid-area: content;
  background-color: white;
}

.logo {
  height: 5em;
  transition: 3s;
}

.original {
    width: 19em;
    margin-bottom: 0.7em;
}

.list {
  width: 6.5em;
  margin-bottom: 0.7em;
  margin-left: 2em;
}

.suche {
  width: 18em;
  height: 3em;
  font-size: 1em;
  padding-left: 0.5em;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  margin-left: 1em;
  border: 4px solid rgb(255, 230, 3);
}


@media (max-width:725px){
  .suche {
    width: 100%;
    position: center;
    float: none;
  }
}
@media (max-width:405px){
  .original {
    display: none;
  }
}
@media (min-width:405px){
  .list {
    display: none;
  }
}
