html, body{
  padding: 0;
  margin: 0;
}

.grid-bereiche{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-template-rows: 7.5em min-content;
  grid-template-areas:
    "header header"
    "sidebar content"
}

.header-main{
  grid-area: header;
  background-color: #1a1819;
  color: white;
}

.sidebar-main{
  grid-area: sidebar;
  background-color: #000000;
  color: white
}

.content-main{
  grid-area: content;
  background-color: white;
}

.logofünfnull{
  margin-left: 1em;
  margin-top: 1em;
  position: absolute;
}

.originalist {
  margin-left: 7em;
}