html, body{
  padding: 0;
  margin: 0;
}

.grid-bereiche{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5em 1fr;
  grid-template-areas:
    "header"
    "content"
}

.header{
  grid-area: header;
  background-color: #1a1819;
  color: white;
  transition: 1s;
}

.header:hover {
  filter: invert(1);
}

.content-main{
  grid-area: content;
  background-color: white;
} 

.logo {
  height: 5em;
  transition: 3s;
}

.original {
    width: 19em;
    margin-bottom: 0.7em;
}
